{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<div class="d-flex justify-content-center mb-3">
    {% for provider in socialaccount_providers %}
        {% if provider.id == "openid" %}
            {% for brand in provider.get_brands %}
                {% provider_login_url provider openid=brand.openid_url process=process as href %}
                <div class="col-md-6">
                    <a href="{{ href }}" class="btn btn-light border d-flex align-items-center justify-content-center gap-2 w-100">
                        <img src="{{ brand.logo }}" alt="{{ brand.name }}" class="img-fluid" style="max-height: 20px;">
                        Sign in with {{ brand.name }}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}

            <a href="{{ href }}" class="btn login-button btn-dark d-flex justify-content-center align-items-center"
                style="background-color: #333; color: #fff; margin-right: 10px;">
                
                {% if provider.id == "google" %}
                    <i class="fab fa-google me-1" style="font-size: 20px;"></i>
                {% elif provider.id == "github" %}
                    <i class="fab fa-github me-1" style="font-size: 20px;"></i>
                {% endif %}
                    <span>{{ provider.name }}</span>
            </a>

        {% endif %}
    {% endfor %}
</div>

{% endif %}