{% extends 'chat_main.html' %}

{% load static %}

{% block content %}
    
<div class="container-fluid">
    <div class="row">

        <!-- Chat List -->
        <div class="col-md-3 d-none d-md-block chat-list mt-2">

            <div class="chat-list-header d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="{% static 'img/logo_2.png' %}" alt="Logo" style="max-width: 50px;" class="me-2">
                    <span style="font-size: 20px;">Chats</span>
                </div>
                <a href="/" class="btn btn-dark" style="border-radius: 20px;">
                    Back to Posts
                </a>
            </div>

            <hr>

            <div class="chat-type">
                <i class="fas fa-lock"></i>
                Private
            </div>

            {% for chat in request.user.profile.chats.all %}
                {% if chat.is_private %}
                    {% for member in chat.members.all %}
                        {% if member != request.user.profile %}

                            <div class="chat-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'chat:chatroom' chat.name %}">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ member.image.url }}" alt="Avatar" class="avatar">
                                        {{ member.get_username }}
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <button class="btn btn-dark dropdown-toggle chat-button" type="button" data-bs-toggle="dropdown">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                    </ul>
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <hr>

            <div class="chat-type">
                <i class="fas fa-globe"></i>
                Public
            </div>

            <div class="chat-item d-flex justify-content-between align-items-center">
                <a href="{% url 'chat:chatroom' 'public-chat' %}">
                    <div class="d-flex align-items-center">
                        <img src="{% static 'img/c1.jpg' %}" alt="Avatar" class="avatar">
                        Public Chat
                    </div>
                </a>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle chat-button" type="button" data-bs-toggle="dropdown">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- offcanvas -->
        <div class="offcanvas offcanvas-start" id="offcanvasChats">

            <div class="offcanvas-header chat-list-header d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <img src="{% static 'img/logo_2.png' %}" alt="Logo" style="max-width: 50px;" class="me-2">
                    <span style="font-size: 20px;">Chats</span>
                </div>
                <a href="/" class="btn btn-dark" style="border-radius: 20px; font-size: 14px;">
                    Back to Posts
                </a>
            </div>

            <div class="offcanvas-body chat-list">

                <div class="chat-type">
                    <i class="fas fa-lock"></i>
                    Private
                </div>

                {% for chat in request.user.profile.chats.all %}
                    {% if chat.is_private %}
                        {% for member in chat.members.all %}
                            {% if member != request.user.profile %}

                                <div class="chat-item d-flex justify-content-between align-items-center">
                                    <a href="{% url 'chat:chatroom' chat.name %}">
                                        <div class="d-flex align-items-center">
                                            <img src="{{ member.image.url }}" alt="Avatar" class="avatar">
                                            {{ member.get_username }}
                                        </div>
                                    </a>
                                    <div class="dropdown">
                                        <button class="btn btn-dark dropdown-toggle chat-button" type="button" data-bs-toggle="dropdown">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                        </ul>
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <hr>

                <div class="chat-type">
                    <i class="fas fa-globe"></i>
                    Public
                </div>

                <div class="chat-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'chat:chatroom' 'public-chat' %}">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/c1.jpg' %}" alt="Avatar" class="avatar">
                            Public Chat
                        </div>
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle chat-button" type="button" data-bs-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <!-- Chat Area -->
        <div class="col-md-9 col-12 d-flex flex-column chat-window">

            <!-- Chat Header -->
            <div class="chat-header">
                <button class="btn btn-dark d-md-none chat-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasChats">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <div class="d-flex align-items-center">
                    {% if other_user %}
                        <a href="">
                            <img class="avatar" src="{{ other_user.image.url }}" alt="User Avatar">
                        </a>
                        <span class="chat-title">{{ other_user.get_username }}</span>
                    {% else %}
                        <span class="chat-title">Public Chat</span>
                    {% endif %}
                </div>                    

                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle chat-button" type="button" data-bs-toggle="dropdown">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                </div>
            </div>

            <div class="chat-online-header">
                <div class="online-indicator">
                    <div class="online-green-dot"></div>
                    <span id="online-count"></span>
                    <span>online</span>
                </div>
            </div>

            <!-- Chat Body -->

            {% if page != 'chat_home' %}

                <div class="chat-body" id='chat_messages'>

                    {% for message in messages reversed %}
                        {% include 'chat/message.html' %}
                    {% endfor %}

                </div>
            {% else %}
                <div class="d-flex justify-content-center align-items-center vh-100">
                    <h4>Select a chat</h4>
                </div>
            {% endif %}

            <!-- Chat Footer -->
            <form class="chat-footer border-top d-flex align-items-center"
                hx-ext="ws"
                ws-connect="/ws/chat/{{ chat_name }}/"
                ws-send
                _="on htmx:wsAfterSend reset() me"
            >
                {% csrf_token %}

                {{ form.body }}

                <button type="submit" class="btn btn-primary rounded-circle send-button">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </form>

        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

<script>
    function scrollToBottom() {
        const container = document.getElementById('chat_messages');
        container.scrollTop = container.scrollHeight;
    }
    scrollToBottom()
</script>
    
{% endblock javascript %}