{% extends 'main.html' %}

{% load static %}

{% block content %}

{% include 'posts/left_side_panel.html' %}

<div class="container d-flex justify-content-center align-items-stretch mt-3" style="min-height: 80vh; max-width: 800px;">
    <div class="row w-100">
        
        <div class="col-md-5 p-4 d-none d-md-block register-left-panel">

            <div class="text-left mb-4">
                <img src="{% static 'img/logo.png' %}" alt="DeviantHub Logo" style="max-width: 250px;">
            </div>
            <p class="text-left" style="font-size: 14px;">
                Join DeviantHub, where creativity meets community - 
                share your passions and connect with like-minded individuals 
                who embrace the extraordinary.
            </p>
        </div>

        <div class="col-md-7 p-3 register-right-panel">
            <h3 class="text-center">Sign up today</h3>
            <h6 class="text-center mb-3">Let's defy the norm together!</h6>

            <form method="post">
                {% csrf_token %}

                <div class="mb-3 d-flex">

                    <div class="me-2" style="flex: 1;">
                        <span id="username-feedback">
                        </span>
                        <label for="username" class="form-label">Username</label>
                        {{ form.username }}
                        <span id="username-feedback">
                        </span>
                    </div>

                    <div style="flex: 1;">
                        <span>
                            <i class="fas fa-envelope"></i>
                        </span>
                        <label for="email" class="form-label">Email</label>
                        {{ form.email }}
                    </div>
                </div>

                <div class="mb-3">
                    <span>
                        <i class="fas fa-lock"></i>
                    </span>
                    <label for="password" class="form-label">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="mb-3">
                    <span>
                        <i class="fas fa-lock"></i>
                    </span>                    
                    <label for="password" class="form-label">Confirm Password</label>
                    {{ form.password2 }}
                </div>
            
                <button type="submit" id="submitButton" class="btn btn-primary w-100 login-button">Sign Up</button>
            </form>

            <hr>

            <div class="text-center mb-3">
                <span class="form-label">or sign in using</span>
            </div>
            
            <div class="d-flex justify-content-center mb-3">
                <a href="#" class="btn login-button btn-dark d-flex justify-content-center align-items-center" style="background-color: #333; color: #fff; margin-right: 10px;">
                    <i class="fab fa-google me-2" style="font-size: 20px;"></i>
                    <span>Google</span>
                </a>
                <a href="#" class="btn btn-dark d-flex justify-content-center align-items-center" style="background-color: #333; color: #fff;">
                    <i class="fab fa-github me-2" style="font-size: 20px;"></i>
                    <span>Github</span>
                </a>
            </div>
            
            <div class="text-center mt-2">
                <span><a href="{% url 'users:login' %}" class="text-light">Log In</a></span>
                <span>•</span>
                <span><a href="#" class="text-light">Forgot password?</a></span>
            </div>
        </div>
    </div>
</div>

{% include 'posts/right_side_panel.html' %}

<script src="{% static 'js/profile.js' %}"></script>

{% endblock content %}