{% extends 'main.html' %}

{% load static %}

{% block content %}
<!-- PAGE CONTENT -->
<section class="container mt-6">
    <div class="columns is-multiline">
        <div class="column box is-10 is-offset-1 register" style="background: linear-gradient(to bottom right, rgb(0, 90, 102), rgb(133, 0, 89));">
            <div class="columns">
                <div class="column is-5 left">
                    <h1 class="title is-1">DeviantHub</h1>
                    <h2 class="subtitle is-4"><strong>defy the norm.</strong></h2>
                    <p>Join DeviantHub, where creativity meets community - share your passions and connect with like-minded individuals who embrace the extraordinary.</p>
                </div>
                <div class="column right has-text-centered">
                    <h1 class="title is-4">Sign up today</h1>
                    <p class="description">Let's defy the norm together!</p>
                    <form method="post" class="mt-5">
                        {% csrf_token %}

                        <!-- Row for Username and Email -->
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <div class="control">
                                        <p class="control has-icons-left has-icons-right">
                                            {{ form.username }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-user"></i>
                                            </span>
                                            <span id="username-feedback" class="icon is-small is-right">
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <span style="font-size: 12px">· Username must be unique and at least 5 characters long.</span>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <div class="control">
                                        <p class="control has-icons-left has-icons-right">
                                            {{ form.email }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="field">
                            <div class="control">
                                <p class="control has-icons-left has-icons-right">
                                    {{ form.password1 }}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <!-- Repeat password -->
                        <div class="field">
                            <div class="control">
                                <p class="control has-icons-left has-icons-right">
                                    {{ form.password2 }}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <button class="button is-block is-primary is-fullwidth is-medium round-corners-medium">
                            <i class="fas fa-sign-in-alt mr-2" aria-hidden="true"></i>
                            Sign up
                        </button>
                        <br/>
                    </form>

                    <span>or sign up using</span>

                    <div class="buttons is-centered mt-3">
                        <a class="button is-rounded" href="#">
                            <span class="icon" style="font-size: 25px;">
                                <i class="fab fa-google" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a class="button is-rounded" href="#">
                            <span class="icon" style="font-size: 25px;">
                                <i class="fab fa-github"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-10 is-offset-1">
            <br>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <span class="icon">
                            <i class="fab fa-google"></i>
                        </span> &emsp;
                        <span class="icon">
                            <i class="fab fa-twitter"></i>
                        </span> &emsp;
                        <span class="icon">
                            <i class="fab fa-facebook"></i>
                        </span> &emsp;
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span> &emsp;
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="level-right">
                    <small class="level-item" style="color: var(--textLight)">
                        &copy;2024 DeviantHub. All Rights Reserved.
                    </small>
                </div>
            </nav>
        </div>
    </div>
</section>

{% endblock content %}