{% extends 'main.html' %}
{% load static %}

{% block content %}

<style>
    .profile-background {
        width: 100%;
        height: 120px;
        position: relative;
    }
    .profile-card {
        position: relative;
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
    }

    .profile-background::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
    }

    .profile-info {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        margin-left: 30px;
    }

    .username {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .profile-info img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 5px;
        object-fit: cover;
        z-index: 1;
    }

    .pfp {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        object-fit: cover;
    }

    .menu-label {
        margin-top: 20px;
        font-weight: bold;
    }

    .stat-text {
        font-size: 12px;
        color: #b1c1cf;
    }

    .stat-text-sm {
        font-size: 14px;
        color: #b1c1cf;
    }

    .share-link-group {
        margin-right: 10px;
    }

    .name {
        font-weight: bold;
        font-size: 20px;
    }

    .profile-stats {
        border: 1px solid;
        padding: 5px;
        width: 150px;
    }

    .profile-stats {
        border: 1px solid;
        padding: 5px;
    }

    @media (max-width: 768px) {
        .profile-stats {
            width: 100%;
        }
    }


</style>

<div class="container-fluid">
    <div class="row">

        <!-- LEFT PANEL -->
        {% include 'posts/left_side_panel.html' %}

        <!-- POST -->
        <div class="col main-content">
            <div class="profile-card" style="border: 1px solid;">
                <div class="profile-background" style="background: url('{{ profile.banner.url }}') center/cover no-repeat;"></div>
                <div class="profile-info">
                    <img src="{{ profile.image.url }}" alt="User Avatar">
                    <div class="username ms-2">
                        <span class="name">{{ profile.get_username }}</span>
                        <span>@{{ profile.username }}</span>
                    </div>
                </div>
            </div>

            {% if request.user.profile != profile %}
                <div class="d-flex mt-3">
                    <div class="share-link-group">
                        <a href="#" class="btn btn-primary btn-sm d-flex align-items-center radius-md">
                            <i class="fas fa-user-plus me-2"></i>
                            <strong>Follow</strong>
                        </a>
                    </div>

                    <div class="share-link-group">
                        <a href="{% url 'chat:get_or_create_chat' profile.username %}" class="btn btn-success btn-sm d-flex align-items-center radius-md">
                            <i class="fas fa-comment-dots me-2"></i>
                            <strong>Chat</strong>
                        </a>
                    </div>
                </div>
            {% endif %}

            <hr>
            <div>
                <span class="menu-title" style="font-size: 13px;">Lifetime statistics</span>
            </div>

            <div class="container d-flex flex-wrap justify-content-between mt-2">
                <div class="item profile-stats radius-sm text-center mb-3 mb-sm-0" style="width: 150px;">
                    <div><strong class="stat-number">100%</strong></div>
                    <div>
                        <span class="icon is-small">
                            <i class="fas fa-arrow-up" style="font-size: 16px;"></i>
                        </span>
                        <span class="stat-text">Upvote Rate</span>
                    </div>
                </div>
                <div class="item profile-stats radius-sm text-center mb-3 mb-sm-0" style="width: 150px;">
                    <div><strong class="stat-number">291</strong></div>
                    <div>
                        <span class="icon is-small">
                            <i class="fas fa-comments" style="font-size: 16px;"></i>
                        </span>
                        <span class="stat-text">Comments</span>
                    </div>
                </div>
                <div class="item profile-stats radius-sm text-center mb-3 mb-sm-0" style="width: 150px;">
                    <div><strong class="stat-number">12</strong></div>
                    <div>
                        <span class="icon is-small">
                            <i class="fas fa-edit" style="font-size: 16px;"></i>
                        </span>
                        <span class="stat-text">Total Posts</span>
                    </div>
                </div>
            </div>
            

            <div class="mt-4">
                <ul class="nav nav-tabs flex-column flex-sm-row justify-content-center">
                    <li class="nav-item me-2">
                        <a class="nav-link active" href="#overview" data-bs-toggle="tab">Overview</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link" href="#posts" data-bs-toggle="tab">Posts</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link" href="#comments" data-bs-toggle="tab">Comments</a>
                    </li>

                    {% if profile == request.user.profile %}
                        <li class="nav-item me-2">
                            <a class="nav-link" href="#saved" data-bs-toggle="tab">Saved</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link" href="#hidden" data-bs-toggle="tab">Hidden</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link" href="#upvotes" data-bs-toggle="tab">Upvoted</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#downvoted" data-bs-toggle="tab">Downvoted</a>
                        </li>
                    {% endif %}
                </ul>
            
                <div class="tab-content mt-3">
                    <div class="tab-pane fade show active" id="overview">
                        {% for post in profile.posts.all %}
                            {% include 'posts/post_content.html' %}
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="posts">
                        <p>Content for Posts.</p>
                    </div>
                    <div class="tab-pane fade" id="comments">
                        <p>Content for Comments.</p>
                    </div>
                    <div class="tab-pane fade" id="saved">
                        <p>Content for Saved.</p>
                    </div>
                    <div class="tab-pane fade" id="hidden">
                        <p>Content for Hidden.</p>
                    </div>
                    <div class="tab-pane fade" id="upvotes">
                        <p>Content for Upvotes.</p>
                    </div>
                    <div class="tab-pane fade" id="downvoted">
                        <p>Content for Downvoted.</p>
                    </div>
                </div>
            </div>
            

        </div>

        <!-- RIGHT PANEL -->
        {% include 'users/profile_side_panel.html' %}

    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

{% endblock content %}