{% load mptt_tags %}
{% recursetree comments %}
<div class="comment">
    <div id="{{ node.id }}" class="box">
        <div class="mb-2">
            <div class="profile-container">
                <img src="{{ node.user.image.url }}" alt="Профиль" class="profile-image">
                <span class="profile-name mr-3">{{ node.user.get_username }}</span>
                <span class="is-size-7 ml-1">•
                    {% if node.time_since_posted.type != 'now' %}
                        {{ node.time_since_posted.num }}
                        {{ node.time_since_posted.type }}{{ node.time_since_posted.num|pluralize }} ago
                    {% else %}
                        {{ node.time_since_posted.type }}
                    {% endif %}
                </span>
            </div>
        </div>
        <div>
            <div class="content">
                <p>{{ node.body|linebreaks }}</p>
                <div class="comment-actions">
                    <div class="comment-votes-group mr-2">
                        <form method="post", action="{% url 'posts:vote_comment' node.id %}">
                            {% csrf_token %}
                            <button type="submit" name="vote_type" value="upvote" aria-label="upvote" class="vote-button">
                                <i class="fas fa-arrow-up"></i>
                            </button>

                            <span class="vote-count">{{ node.commentstats.votes }}</span>
                            
                            <button type="submit" name="vote_type" value="downvote" aria-label="downvote" class="vote-button">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </form>
                    </div>
                    <div>
                        <button class="reply-button" onclick="commentReply('{{ node.id }}')" aria-label="comments">
                            reply
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not node.is_leaf_node %}
        <div class="children">
            {{ children }}
        </div>
    {% endif %}
</div>
{% endrecursetree %}
