{% load mptt_tags %}
{% load static %}

{% recursetree comments %}

<div id="{{ node.id }}" class="comment mb-2 radius-md">  
    <div class="comment-header align-items-center ms-2 mt-1 mb-1">

        {% if request.user.profile == node.user %}
        <a href="{% url 'users:profile' %}" class="mb-0">
            <img src="{{ node.user.image.url }}" alt="Community Logo" class="community-logo-sm">
            <span class="title-sm">u/{{ node.user.get_username }}</span>
        </a>
        {% else %}
            <a href="{% url 'users:user_profile' node.user.username %}" class="mb-0">
                <img src="{{ node.user.image.url }}" alt="Community Logo" class="community-logo-sm">
                <span class="title-sm">u/{{ node.user.get_username }}</span>
            </a>
        {% endif %}

        <span class="pub-date">•
            {% if node.time_since_posted.type != 'now' %}
                {{ node.time_since_posted.num }}
                {{ node.time_since_posted.type }}{{ node.time_since_posted.num|pluralize }} ago
            {% else %}
                {{ node.time_since_posted.type }}
            {% endif %}
        </span>
    </div>

    <div class="comment-text ms-2">
        {{ node.body|linebreaks }}
    </div>

    <div class="comment-actions ms-2 mb-1">
        <div class="vote-group d-flex align-items-center">

            <form method="post" action="{% url 'posts:vote_comment' node.id %}">
                {% csrf_token %}
                
                {% if node in request.user.profile.activity_stats.upvoted_comments.all %}
                    <button type="submit" name="vote_type" value="upvote" 
                        class="btn btn-outline-primary btn-sm me-2 radius-sm"
                        style="background-color: rgb(5, 5, 154);">
                        <i class="bi bi-caret-up-fill"></i>
                    </button>
                {% else %}
                    <button type="submit" name="vote_type" value="upvote" 
                        class="btn btn-outline-primary btn-sm me-2 radius-sm">
                        <i class="bi bi-caret-up-fill"></i>
                    </button>
                {% endif %}

                <span class="vote-count me-2">{{ node.commentstats.votes }}</span>
                
                {% if node in request.user.profile.activity_stats.downvoted_comments.all %}
                    <button type="submit" name="vote_type" value="downvote" 
                        class="btn btn-outline-danger btn-sm me-2 radius-sm"
                        style="background-color: rgb(140, 0, 0);">
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                {% else %}
                    <button type="submit" name="vote_type" value="downvote" class="btn btn-outline-danger btn-sm me-2 radius-sm">
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                {% endif %}

            </form>

            {% if node.level < 4 %}
                <button class="btn btn-outline-light btn-sm me-2 radius-sm" onclick="commentReply('{{ node.id }}')">
                    <span>reply</span>
                </button>
            {% endif %}

        </div>
    </div>
</div>

{% if not node.is_leaf_node %}
    <div class="ms-4">
        {{ children }}
    </div>
{% endif %}

{% endrecursetree %}
