{% extends 'main.html' %}

{% block content %}

<div class="container has-text-centered mt-5" style="width: 800px;">
    <div class="box">
        <div class="level-left">
            <div class="level-item">
                <a href="{{ request.GET.post }}?feed={{ request.GET.feed }}" class="button" style="border-radius: 20px;">
                    <span class="icon is-small">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                </a>
            </div>
        </div>
        <h1 class="title">Are you sure you want to delete: {{ object }}?</h1>
        <p>This action cannot be undone.</p>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="buttons is-centered mt-3">
                <button type="submit" class="button is-danger" style="border-radius: 20px;">Delete</button>
                <a href="{{ request.GET.post }}?feed={{ request.GET.feed }}" class="button" style="border-radius: 20px;">Cancel</a>
            </div>
        </form>
    </div>
</div>


{% endblock content %}