{% extends 'main.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">

            <!-- SIDE PANEL -->
            {% include 'posts/left_side_panel.html' %}

            <!-- FORM -->
            <div class="column is-8">
                <div class="content">
                    <h4>Edit Post</h4>

                    <div class="box mb-3">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">

                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <!-- Post Title -->
                                        <div class="field">
                                            <label class="label">Title</label>
                                            <div class="control">
                                                {{ form.title }}
                                            </div>
                                        </div>

                                        {% if post_type == 'text' %}
                                            <!-- Text Post Form -->
                                            <div class="field">
                                                <label class="label">Content</label>
                                                <div class="control">
                                                    {{ form.body }}
                                                </div>
                                            </div>
                                        {% elif post_type == 'media' %}
                                            <!-- Image Post Form -->
                                            <div class="field">
                                                <label class="label">Content</label>
                                                <div class="control">
                                                    {{ form.body }}
                                                </div>
                                            </div>
                                            <div id="media-formset">
                                                {{ media_formset.management_form }}
                                                {% for form in media_formset %}
                                                    <div class="media-form" style="display: flex; align-items: center;">

                                                        <div class="form-fields">
                                                            {{ form.as_p }} 
                                                        </div>

                                                        {% if form.instance.file %}
                                                            {% if form.instance.file_ext.type == 'image' %}
                                                                <div class="image-preview" style="margin-left: 20px;">
                                                                    <img src="{{ form.instance.file.url }}" alt="Image preview" style="max-width: 200px; max-height: auto;">
                                                                </div>
                                                            {% else %}
                                                                <div lass="image-preview" style="margin-left: 20px;">
                                                                    <video controls style="height: auto; width: 200px;">
                                                                        <source src="{{ form.instance.file.url }}" type="video/{{ form.instance.file_ext.ext }}">
                                                                    </video>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <hr style="grid-column: span 2;">
                                                {% endfor %}
                                            </div>
                                            
                                            <div id="empty-form" style="display: none;">
                                                <div class="media-form">
                                                    {{ media_formset.empty_form.as_p }}
                                                    <button type="button" class="delete-media delete-button">
                                                        <i class="fas fa-trash-alt"></i>
                                                        Remove
                                                    </button>
                                                    <hr style="grid-column: span 2;">
                                                </div>
                                            </div>

                                            <div class="button-container">
                                                <button type="button" id="add-media" class="add-button">Add Media</button>
                                            </div>
                                            
                                        {% elif post_type == 'link' %}
                                            <!-- Link Post Form -->
                                            <div class="field">
                                                <label class="label">Content</label>
                                                <div class="control">
                                                    {{ form.body }}
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">YouTube video link</label>
                                                <div class="control">
                                                    {{ form.video_url }}
                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="field is-grouped">
                                            <div class="control">
                                                <button type="submit" class="button is-primary" style="border-radius: 20px;">
                                                    Update Post
                                                </button>
                                            </div>
                                            <div class="control">
                                                <a href="{{ request.GET.post }}?feed={{ request.GET.feed }}" class="button is-dark" style="border-radius: 20px;">
                                                    Cancel
                                                </a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<script>
    document.getElementById('add-media').addEventListener('click', function() {
        const formsetDiv = document.getElementById('media-formset');
        const totalForms = document.getElementById('id_postmedia_set-TOTAL_FORMS');
        const formNum = parseInt(totalForms.value);

        const newForm = document.getElementById('empty-form').innerHTML.replace(/__prefix__/g, formNum);
        formsetDiv.insertAdjacentHTML('beforeend', newForm);

        totalForms.value = formNum + 1;
    });
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('delete-media')) {
            const form = event.target.closest('.media-form');
            const deleteField = form.querySelector('input[name$="-DELETE"]');

            if (deleteField) {
                deleteField.value = 'on';
            }

            form.remove();

            const totalForms = document.getElementById('id_postmedia_set-TOTAL_FORMS');
            totalForms.value = document.querySelectorAll('.media-form').length;
        }
    });
</script>

<style>
    .hidden {
        display: none;
    }
</style>

{% endblock content %}
