{% extends 'layouts/blank.html' %}

{% block content %}

{% include 'posts/left_side_panel.html' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div>
                <h4>Edit Post</h4>
            </div>

            <div class="card mb-3 bg-dark text-white">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="field">
                            <label class="label">Title</label>
                            {{ form.title }}
                        </div>

                        {% if post_type == 'text' %}

                            <div class="field">
                                <label class="label">Body</label>
                                {{ form.body }}
                            </div>

                        {% elif post_type == 'media' %}

                            <div class="field">
                                <label class="label">Body</label>
                                {{ form.body }}
                            </div>

                            <div id="media-formset">
                                {{ media_formset.management_form }}

                                {% for form in media_formset %}
                                    <div class="media-form" style="display: flex; align-items: center; margin-bottom: 20px;">
                                        
                                        <div class="form-fields" style="flex: 1;">
                                            {{ form.id }}
                                            {{ form.file }}

                                            <div class="d-none">
                                                {{ form.DELETE }}
                                            </div>
                                            
                                            <button type="button" class="delete-media delete-button btn btn-danger radius-md mt-2">
                                                <i class="fas fa-trash-alt"></i>
                                                Remove
                                            </button>
                                        </div>

                                        {% if form.instance.file %}
                                            {% if form.instance.file_ext.type == 'image' %}
                                                <div class="image-preview" style="margin-left: 20px; flex-shrink: 0;">
                                                    <img src="{{ form.instance.file.url }}" alt="Image preview" style="max-width: 200px; max-height: auto;">
                                                </div>
                                            {% else %}
                                                <div class="image-preview" style="margin-left: 20px; flex-shrink: 0;">
                                                    <video controls style="height: auto; width: 200px;">
                                                        <source src="{{ form.instance.file.url }}" type="video/{{ form.instance.file_ext.ext }}">
                                                    </video>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    
                                    <hr>
                                {% endfor %}
                            </div>

                            <div id="empty-form" style="display: none;">
                                <div class="media-form">
                                    {{ media_formset.empty_form.as_p }}
                                    <button type="button" class="delete-media delete-button btn btn-danger radius-md">
                                        <i class="fas fa-trash-alt"></i>
                                        Remove
                                    </button>
                                    <hr style="grid-column: span 2;">
                                </div>
                            </div>

                            <div class="button-container">
                                <button type="button" id="add-media" class="add-button btn btn-primary radius-md">Add Media</button>
                            </div>

                        {% elif post_type == 'link' %}
                            <div class="field">
                                <label class="label">Content</label>
                                <div class="control">
                                    {{ form.body }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">YouTube video link</label>
                                <div class="control">
                                    {{ form.video_url }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-primary me-2" style="border-radius: 20px;">
                                Update Post
                            </button>
                            <a href="{% url 'posts:feed' %}" class="btn btn-dark btn-outline-light" style="border-radius: 20px;">
                                Cancel
                            </a>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% include 'posts/right_side_panel.html' %}

<script>
    document.getElementById('add-media').addEventListener('click', function() {
        const formsetDiv = document.getElementById('media-formset');
        const totalForms = document.getElementById('id_postmedia_set-TOTAL_FORMS');
        const formNum = parseInt(totalForms.value);

        const newForm = document.getElementById('empty-form').innerHTML.replace(/__prefix__/g, formNum);
        formsetDiv.insertAdjacentHTML('beforeend', newForm);

        totalForms.value = formNum + 1;
    });

    document.addEventListener('click', function (event) {
        if (event.target.classList.contains('delete-media')) {
            const form = event.target.closest('.media-form');

            const deleteField = form.querySelector('input[name$="-DELETE"]');
            if (deleteField) {
                deleteField.checked = true;
            }

            form.style.display = 'none';
        }
    });
</script>

{% endblock content %}
