{% extends 'main.html' %}

{% load static %}

{% block content %}
    
<section class="section">
    <div class="container">
        <div class="columns is-centered">

            <!-- SIDE PANEL -->
            {% include 'posts/left_side_panel.html' %}

            <!-- FEED -->
            <div class="column is-8">
                <div class="content">
                    <h1 class="title">Recent Posts</h1>

                
                    <!-- HERE WAS FOR CYCLE -->
                    
                    <div id="posts-box"></div>
                    <div id="spinner-box" class="not-visible" style="text-align: center;">
                        <span class="mt-6 loader"></span>
                    </div>
                    <div id="loading-box" class="not-visible" style="text-align: center;">
                        <button class="button mt-3" id="load-btn" style="border-radius: 20px;">
                            Load more
                        </button>
                    </div>

                    <!-- END OF FOR CYCLE -->
                    
                </div>
            </div>

            <!-- SIDE PANEL -->
            {% include 'posts/right_side_panel.html' %}
            
        </div>
    </div>
</section>

<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<!-- <script src="{% static 'js/main.js' %}"></script> -->

{% endblock content %}