{% load static %}

<div class="column is-3 is-3-tablet is-full-mobile">
    <aside class="menu is-hidden-mobile" style="position: sticky; top: 70px; max-height: 85vh; overflow-y: auto;">
        <p class="menu-label">Menu</p>
        <ul class="menu-list menu-list-custom">
            <li>
                <a href="#" class="is-active">
                    <span class="icon is-small mr-2">
                        <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="is-active">
                    <span class="icon is-small mr-2">
                        <i class="fas fa-fire" aria-hidden="true"></i>
                    </span>
                    Popular
                </a>
            </li>
            <li>
                <a href="#" class="is-active">
                    <span class="icon is-small mr-2">
                        <i class="fas fa-binoculars" aria-hidden="true"></i>
                    </span>
                    Explore
                </a>
            </li>
            <li>
                <a href="#" class="is-active">
                    <span class="icon is-small mr-2">
                        <i class="fas fa-th" aria-hidden="true"></i>
                    </span>
                    All
                </a>
            </li>
        </ul>

        <hr>

        <p class="menu-label">Recent</p>

        <ul class="menu-list">
            <li class="community-item">
                <a href="#">
                    <img src="{% static 'img/c1.jpg' %}" alt="Logo" class="community-image">
                    c/4kwallpapers
                </a>
            </li>
            <li class="community-item">
                <a href="#">
                    <img src="{% static 'img/c2.jpg' %}" alt="Logo" class="community-image">
                    c/nature
                </a>
            </li>
            <li class="community-item">
                <a href="#">
                    <img src="{% static 'img/c3.png' %}" alt="Logo" class="community-image">
                    c/webdesign
                </a>
            </li>
        </ul>

        <hr>

        <p class="menu-label">Communities</p>

        <ul class="menu-list">
            <li class="community-item">
                <a href="#">
                    <span class="icon is-small ml-3 mr-2">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </span>
                    Create a community
                </a>
            </li>
            <li class="community-item">
                <a href="#">
                    <img src="{% static 'img/c4.jpg' %}" alt="Logo" class="community-image">
                    c/metalcore
                </a>
            </li>
            <li class="community-item">
                <a href="#">
                    <img src="{% static 'img/c5.jpg' %}" alt="Logo" class="community-image">
                    c/spotify-trends
                </a>
            </li>
            <li class="community-item">
                <a href="#">
                    <img src="{% static 'img/c6.jpg' %}" alt="Logo" class="community-image">
                    c/coding
                </a>
            </li>
        </ul>

        <hr>
        <p class="menu-label">DeviantHub by <a href="">deviantcoder</a>. 2024</p>

    </aside>
</div>