{% extends 'main.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">

            <!-- SIDE PANEL -->
            {% include 'posts/left_side_panel.html' %}

            <!-- FORM -->
            <div class="column is-8">
                <div class="content">
                    <h4>Create Post</h4>

                    <div class="box mb-3">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">

                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                        <!-- post_type hidden -->
                                        <input type="hidden" name="post_type" id="post-type" value="text">

                                        <!-- Post Title -->
                                        <div class="field">
                                            <label class="label">Title</label>
                                            <div class="control">
                                                {{ form.title }}
                                            </div>
                                        </div>

                                        <!-- Tabs for post types -->
                                        <div class="tabs is-boxed">
                                            <ul>
                                                <li id="text-tab" class="is-active">
                                                    <a class="tab-link">Text</a>
                                                </li>
                                                <li id="images-tab">
                                                    <a class="tab-link">Images</a>
                                                </li>
                                                <li id="link-tab">
                                                    <a class="tab-link">Link</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Text Post Form -->
                                        <div id="text-form" class="post-type-form">
                                            <div class="field">
                                                <label class="label">Body</label>
                                                <div class="control">
                                                    {{ form.body }}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Image Post Form -->
                                        <div id="images-form" class="post-type-form hidden">
                                            <div id="media-formset">
                                                {{ media_formset.management_form }}
                                                {% for form in media_formset %}
                                                    <div class="media-form">
                                                        {{ form.as_p }}
                                                    </div>
                                                    <hr>
                                                {% endfor %}
                                            </div>

                                            <!-- hidden form template -->
                                            <div id="empty-form" style="display: none;">
                                                <div class="media-form">
                                                    {{ media_formset.empty_form.as_p }}
                                                    <button type="button" class="delete-media delete-button">
                                                        <i class="fas fa-trash-alt"></i>
                                                        Remove
                                                    </button>
                                                    <hr>
                                                </div>
                                            </div>

                                            <div class="button-container">
                                                <button type="button" id="add-media" class="add-button">Add Media</button>
                                            </div>
                                        </div>

                                        <!-- Link Post Form -->
                                        <div id="link-form" class="post-type-form hidden">
                                            <div class="field">
                                                <label class="label">YouTube video link</label>
                                                <div class="control">
                                                    {{ form.video_url }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-grouped mt-3">
                                            <div class="control">
                                                <button type="submit" class="button is-primary" style="border-radius: 20px;">
                                                    Post
                                                </button>
                                            </div>
                                            <div class="control">
                                                <button type="reset" class="button is-dark" style="border-radius: 20px;">
                                                    Save draft
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<style>
    .hidden {
        display: none;
    }
</style>

{% endblock content %}
