<!-- SIDE PANEL -->
<div class="column is-3">
    <aside class="menu" style="position: sticky; top: 75px; max-height: 85vh; overflow-y: auto;">
        <ul class="">
            <li class="community-item recent-item">
                <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="item">
                        <strong>
                            <a href="" style="font-size: 19px; color: aliceblue;">
                                c/django
                            </a>
                        </strong>
                    </div>
                    <div class="item">
                        <a href="" class="join-link">Join</a>
                    </div>
                </div>
            </li>


            <li class="community-item recent-item">
                <div class="container">
                    <div class="item"><strong style="color: rgb(189, 189, 189);">Django Backend Coding</strong></div>
                    <div class="item">
                                        <span style="font-size: 13px; color: rgb(134, 133, 165);">
                                            There are many variations of passages of Lorem Ipsum available,
                                            but the majority have suffered alteration in some form, by injected
                                            humour...
                                        </span>
                    </div>
                    <div class="item" style="display: flex; justify-content: center;">
                        <a href="" class="show-more" style="font-size: 14px;">Show more</a>
                    </div>
                </div>
            </li>

            <li class="community-item recent-item">
                <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="item" style="text-align: center;">
                        <span>Members</span>
                        <div><strong>1.2k</strong></div>
                    </div>
                    <div class="item" style="text-align: center;">
                        <span class="online-label">Online</span>
                        <div><strong>12</strong></div>
                    </div>
                    <div class="item" style="text-align: center;">
                        <span>Posts</span>
                        <div><strong>291</strong></div>
                    </div>
                </div>
            </li>

            <hr>

            <p class="menu-label">Mods</p>

            <li class="community-item recent-item">
                <div class="container" style="">
                    <div class="item mt-2" style="display: flex; align-items: center;">
                        <img src="img/profile.jpg" alt="Logo" class="community-image-small"
                             style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">
                        <div style="display: flex; flex-direction: column; margin-left: 0;">
                            <a href="" class="recent-post-link"
                               style="text-align: left; margin-bottom: -4px; padding-bottom: 0;">
                                <span class="is-size-7" style="display: block;">u/deviantcoder</span>
                            </a>
                            <a href="" style="text-align: left; color: rgb(190, 190, 190);">
                                <span class="username-link" style="display: block; margin-top: -2px; font-size: 13px;">DeviantCoder</span>
                            </a>
                        </div>
                    </div>
                    <div class="item mt-4" style="display: flex; align-items: center;">
                        <img src="img/c1.jpg" alt="Logo" class="community-image-small"
                             style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">
                        <div style="display: flex; flex-direction: column; margin-left: 0;">
                            <a href="" class="recent-post-link"
                               style="text-align: left; margin-bottom: -4px; padding-bottom: 0;">
                                <span class="is-size-7" style="display: block;">u/randomuser</span>
                            </a>
                            <a href="" style="text-align: left; color: rgb(190, 190, 190);">
                                <span class="username-link" style="display: block; margin-top: -2px; font-size: 13px;">RandUs</span>
                            </a>
                        </div>
                    </div>
                    <div class="item mt-4" style="display: flex; align-items: center;">
                        <img src="img/c6.jpg" alt="Logo" class="community-image-small"
                             style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">
                        <div style="display: flex; flex-direction: column; margin-left: 0;">
                            <a href="" class="recent-post-link"
                               style="text-align: left; margin-bottom: -4px; padding-bottom: 0;">
                                <span class="is-size-7" style="display: block;">u/grivnaaaa</span>
                            </a>
                            <a href="" style="text-align: left; color: rgb(190, 190, 190);">
                                <span class="username-link" style="display: block; margin-top: -2px; font-size: 13px;">Grivnaaaa</span>
                            </a>
                        </div>
                    </div>
                </div>

            </li>

        </ul>

    </aside>
</div>