{% extends 'main.html' %}

{% load static %}

{% block content %}

    <!-- PAGE CONTENT -->
    <section class="section">
        <div class="container">
            <div class="columns is-centered">

                <!-- SIDE PANEL -->
                {% include 'posts/left_side_panel.html' %}

                <input type="hidden" id="post-id" value="{{ post.id }}">

                <!-- POST -->
                <div class="column is-8">
                    <div class="content">

                        <div class="box" style="background: linear-gradient(#0f182d, #0d2823);">
                            <!-- Post Info -->
                            <div class="community-info">

                                <div style="display: flex; align-items: center;">
                                    <a href="{{ request.GET.feed }}" class="back">
                                        <span class="icon is-small">
                                            <i class="fas fa-arrow-left" style="font-size: 12px;"></i>
                                        </span>
                                    </a>
                                </div>

                                <a href="#community-link" class="community-link">
                                    <img src="{% static 'img/c7.jpg' %}" alt="Community Logo" class="community-avatar">
                                    <span class="community-name">c/webdesign</span>
                                </a>
                                <span class="post-timestamp"> • 
                                    {% if post.time_since_posted.type != 'now' %}
                                        {{ post.time_since_posted.num }}
                                        {{ post.time_since_posted.type }}{{ post.time_since_posted.num|pluralize }} ago

                                        {% if post.updated_status %}
                                            <small class="additional-info">{{post.updated_status}}</small>
                                        {% endif %}
                                    {% else %}
                                        {{ post.time_since_posted.type }}
                                    {% endif %}
                                </span>
                                <div class="more-options">
                                    <!-- <i class="fas fa-ellipsis-h"></i> -->
                                    {% include 'posts/post_controls.html' %}
                                </div>
                            </div>

                            <!-- Post Content -->
                            <div class="content">

                                <div class="post-content-container mb-3">
                                    <p>
                                        <strong class="mb-3">
                                            <span href="{% url 'posts:post' post.id %}" class="post-title-custom">{{ post.title}}</span>
                                        </strong>
                                    </p>

                                    {% if post.body %}
                                        <p>
                                            <span class="post-description">
                                                {{ post.body|slice:300 }}...
                                            </span>
                                        </p>
                                    {% endif %}
                                </div>

                                {% if post.has_media_files %}
                                    {% if post.has_media_files == 1 %}
                                    
                                        {% if post.postmedia_set.first.file_ext.type == 'image' %}
                                            {% with post.postmedia_set.first.file.url as image %}

                                                <div class="post-header">
                                                    <a 
                                                        class="js-modal-trigger" 
                                                        data-target="modal-single-{{ forloop.counter }}" 
                                                        data-image="{{ image }}
                                                    ">
                                                        <img src="{{ image }}" alt="Post" class="post-image">
                                                    </a>
                                                </div>

                                                <!-- Modal -->
                                                <div id="modal-single-{{ forloop.counter }}" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-content">
                                                        <img id="modal-image" src="{{ image }}" alt="Full Size Image">
                                                    </div>
                                                    <button class="modal-close is-large" aria-label="close"></button>
                                                </div>

                                            {% endwith %}
                                        {% else %}
                                            <div class="post-header">
                                                <video class="glow-effect" controls style="height: 300px; width: auto; border-radius: 20px;">
                                                    <source src="{{ post.postmedia_set.first.file.url }}" type="video/{{ post.postmedia_set.first.file_ext.ext }}">
                                                </video>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <section class="carousel">
                                            <div class="carousel-wrapper">
                                                                        
                                            {% for media in post.postmedia_set.all %}
                                                <div class="carousel-slide">
                                                    {% if media.file_ext.type == 'image' %}
                                                        <a href="#" class="js-modal-trigger" data-target="modal" data-image="{{media.file.url}}">
                                                            <img src="{{ media.file.url }}" alt="Post" class="post-image">
                                                        </a>
                                                    {% else %}
                                                        <video class="glow-effect" data-target="modal" controls style="height: 300px; width: auto; border-radius: 20px;">
                                                            <source src="{{ media.file.url }}" type="video/{{ media.file_ext.ext }}">
                                                        </video>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                                                        
                                            </div>

                                            <button class="carousel-control prev" style="font-size: 25px; border-radius: 20px;">‹</button>
                                            <button class="carousel-control next" style="font-size: 25px; border-radius: 20px;">›</button>
                                                                
                                            <!-- Modal -->
                                            <div id="modal" class="modal">
                                                <div class="modal-background"></div>
                                                <div class="modal-content">
                                                    <img id="modal-image" src="" alt="Full Size Image">
                                                </div>
                                                <button class="modal-close is-large" aria-label="close"></button>
                                            </div>
                                                                
                                                <!-- Indicators -->
                                                <div class="carousel-indicators">
                                                    <!-- Dynamically created -->
                                                </div>
                                        </section>
                                    {% endif %}
                                {% endif %}

                                {% if post.video_url %}
                                    <div class="youtube-container">
                                        {% if 'youtube' in post.video_url %}
                                            {% with post.video_url|slice:"32:" as video_id %}
                                                <iframe class="mb-2" width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
                                            {% endwith %}
                                        {% endif %}
                                    </div>
                                {% endif %}


                                
                            </div>

                            <!-- Buttons -->
                            <div class="post-actions">

                                <!-- Upvote/Downvote -->
                                <div class="votes-group">
                                    <form method="post" action="{% url 'posts:vote_post' post.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="vote-button upvote" name="vote_type" value="upvote" aria-label="upvote">
                                            <i class="fas fa-arrow-up"></i>
                                        </button>

                                        <span class="vote-count">{{ post.poststats.votes }}</span>
                                        
                                        <button type="submit" class="vote-button downvote" name="vote_type" value="downvote" aria-label="downvote">
                                            <i class="fas fa-arrow-down"></i>
                                        </button>
                                    </form>
                                </div>

                                <!-- Share/Comments -->
                                <div class="votes-group">
                                    <a href="#" class="share-button">
                                        <i class="fas fa-share"></i>
                                        <span>Share</span>
                                    </a> |
                                    <a href="{% url 'posts:post' post.id %}" class="comment-button">
                                        <i class="fas fa-comments"></i>
                                        <span>Comments</span>
                                    </a>
                                </div>

                            </div>
                        </div>                

                        <hr>


                        <hr>

                        <!-- COMMENTS -->

                        <div>
                            <h3>Comments</h3>

                            <form class="box" method="post" action="{% url 'posts:comment_post' post.id %}">
                                {% csrf_token %}
                                <h6>Add a comment:</h6>
                                {{ form.body }}
                                <button type="submit" class="button mt-2" style="border-radius: 20px;">Comment</button>
                            </form>
                            
                            {% with comments.count as total_comments %}
                                {% if total_comments %}
                                    <hr>
                                    <div class="mb-5">
                                        <span>
                                            <strong style="font-size: 13px; color: #939393;">
                                                {{ total_comments }} comment{{ total_comments|pluralize }}
                                            </strong>
                                        </span>
                                    </div>
                                {% endif %}
                            {% endwith %}

                            <div id="comments-box"></div>

                            <div id="comments-spinner-box" class="not-visible" style="text-align: center;">
                                <span class="mt-6 loader"></span>
                            </div>

                            <div id="comments-loading-box" style="text-align: center; height: 250px;">
                                <!-- <span class="mt-3 loader"></span> -->
                            </div>

                        </div>
                    
                    </div>
                </div>
    
            {% include 'posts/post_right_side_panel.html' %}    
            
            </div>
        </div>
    </section>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <script src="{% static 'js/comments.js' %}"></script>
    <script src="{% static 'js/post_modal.js' %}"></script>

    <script>
        function commentReply(id) {
            if (document.contains(document.getElementById("newForm"))) {
                document.getElementById("newForm").remove();
            }

            var comment = document.getElementById(id);

            comment.insertAdjacentHTML('afterend',
                '<form id="newForm" method="post" class="box" action="{% url "posts:comment_post" post.id %}"> \
                        {% csrf_token %} \
                        <select name="parent" class="is-hidden" id="id_parentt"> \
                            <option value="' + id + '" selected="' + id + '"></option> \
                        </select> \
                        <textarea name="body" class="textarea" required id="id_content" style="resize: vertical; height: 50px; min-height: 50px; max-height: 200px; border-radius: 20px;"></textarea> \
                        <a class="button mt-2" style="border-radius: 20px;" onclick="removeForm()">Cancel</a> \
                        <button type="submit" class="button is-info mt-2" style="border-radius: 20px;">Reply</button> \
                </form>');
        }
        document.addEventListener("DOMContentLoaded", function() {
            const textarea = document.querySelector('textarea[name="body"]');

            textarea.addEventListener('input', function() {
                this.style.height = '50px';
                this.style.height = Math.min(this.scrollHeight, 200) + 'px';
            });
        })
        function removeForm() {
            const form = document.getElementById("newForm");
            if (form) {
                form.remove();
            }
        }
    </script>

{% endblock content %}