{% extends 'main.html' %}

{% block content %}
    <!-- PAGE CONTENT -->
    <section class="section">
        <div class="container">
            <div class="columns is-centered">

                <!-- SIDE PANEL -->
                {% include 'posts/left_side_panel.html' %}

                <!-- FORM -->
                <div class="column is-8">
                    <div class="content">

                        <h4>Create Post</h4>
                        
                        <div class="box mb-3">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">

                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            {% for field in form %}
                                                <div class="field">
                                                    <label class="label">{{ field.label }}</label>
                                                    <div class="control">
                                                        {{ field }}
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            <div id="media-formset">
                                                {{ media_formset.management_form }}
                                                {% for form in media_formset %}
                                                    <div class="media-form">
                                                        {{ form.as_p }}
                                                        <button type="button" class="delete-media">Remove</button>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            
                                            <!-- hidden form template -->
                                            <div id="empty-form" style="display: none;">
                                                <div class="media-form">
                                                    {{ media_formset.empty_form.as_p }}
                                                    <button type="button" class="delete-media">Remove</button>
                                                </div>
                                            </div>
                                            
                                            <button type="button" id="add-media">Add Media</button>

                                            <div class="field is-grouped">
                                                <div class="control">
                                                    <button type="submit" class="button" style="border-radius: 20px; background-color: rgb(1, 59, 66);">
                                                        Post
                                                    </button>
                                                </div>
                                                <div class="control">
                                                    <button type="reset" class="button" style="border-radius: 20px; background-color: rgb(34, 34, 34);;">
                                                        Save draft
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </article>
                        </div>
                        
                    </div>
                </div>
    
            </div>
        </div>
    </section>


    <script>
        document.getElementById('add-media').addEventListener('click', function() {
            var formsetDiv = document.getElementById('media-formset');
            var totalForms = document.getElementById('id_postmedia_set-TOTAL_FORMS');
            var formNum = parseInt(totalForms.value);
    
            var newForm = document.getElementById('empty-form').innerHTML;
    
            newForm = newForm.replace(/__prefix__/g, formNum);
    
            formsetDiv.insertAdjacentHTML('beforeend', newForm);
    
            totalForms.value = formNum + 1;
        });
    
        document.addEventListener('click', function(event) {
            if (event.target.classList.contains('delete-media')) {
                event.target.closest('.media-form').remove();
                var totalForms = document.getElementById('id_postmedia_set-TOTAL_FORMS');
                totalForms.value = document.querySelectorAll('.media-form').length;
            }
        });
    </script>
    
    
    

{% endblock content %}