{% load static %}

<div class="col fixed-column right-column">
    <div style="margin-bottom: 15px; margin-top: 15px;">
        <span class="menu-title mb-2">Recent Posts</span>
    </div>

    <div style="margin-bottom: 15px;">
        <a href="" class="w-100 mt-2 d-flex justify-content-start align-items-center">
            <img src="{% static 'img/img1.jpg' %}" alt="Community Logo" class="community-logo-sm me-2">
            <span class="me-3 title-sm">c/dedsec</span>
        </a>
        <a href="" class="recent-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a>
        <span class="recent-post-stats">29 upvotes • 92 comments</span>
    </div>

    <div style="margin-bottom: 15px;">
        <a href="" class="w-100 mt-2 d-flex justify-content-start align-items-center">
            <img src="{% static 'img/img2.jpg' %}" alt="Community Logo" class="community-logo-sm me-2">
            <span class="me-3 title-sm">c/coding</span>
        </a>
        <a href="" class="recent-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a>
        <span class="recent-post-stats">29 upvotes • 92 comments</span>
    </div>

    <div style="margin-bottom: 15px;">
        <a href="" class="w-100 mt-2 d-flex justify-content-start align-items-center">
            <img src="{% static 'img/img3.jpg' %}" alt="Community Logo" class="community-logo-sm me-2">
            <span class="me-3 title-sm">c/design</span>
        </a>
        <a href="" class="recent-post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a>
        <span class="recent-post-stats">29 upvotes • 92 comments</span>
    </div>
    <hr>

    <div style="margin-bottom: 15px;">
        <span class="menu-title mb-2">Popular Communities</span>
    </div>

    <button class="btn btn-white btn-white-custom-2 w-100 mt-2 d-flex justify-content-start align-items-center radius-sm">
        <img src="{% static 'img/img1.jpg' %}" alt="Community Logo" class="community-logo me-2">
        <span class="me-3 community-title">c/backend</span>
    </button>

    <button class="btn btn-white btn-white-custom-2 w-100 mt-2 d-flex justify-content-start align-items-center radius-sm">
        <img src="{% static 'img/img2.jpg' %}" alt="Community Logo" class="community-logo me-2">
        <span class="me-3 community-title">c/frontend</span>
    </button>

    <button class="btn btn-white btn-white-custom-2 w-100 mt-2 d-flex justify-content-start align-items-center radius-sm">
        <img src="{% static 'img/img3.jpg' %}" alt="Community Logo" class="community-logo me-2">
        <span class="me-3 community-title">c/webdesign</span>
    </button>
</div>