{% load static %}

<div class="column is-3">
    <aside class="menu" style="position: sticky; top: 70px; max-height: 85vh; overflow-y: auto;">
        <p class="menu-label">Recent Posts</p>

        <ul class="">
            
            <li class="community-item recent-item">
                <div class="container">
                    <div class="item">
                        <a href="" class="recent-post-link">
                            <img src="{% static 'img/c5.jpg' %}" alt="Logo" class="community-image-small">
                            <span class="is-size-7">c/webdesign</span>
                        </a>
                    </div>
                    <div class="item"><p><a href="" class="recent-post-link"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></a></p></div>
                    <div class="item"><span class="is-size-7 additional-info">99 upvotes - 29 comments</span></div>
                  </div>
            </li>

            <li class="community-item recent-item">
                <div class="container">
                    <div class="item">
                        <a href="" class="recent-post-link">
                            <img src="{% static 'img/c6.jpg' %}" alt="Logo" class="community-image-small">
                            <span class="is-size-7">c/coding</span>
                        </a>
                    </div>
                    <div class="item"><p><a href="" class="recent-post-link"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></a></p></div>
                    <div class="item"><span class="is-size-7 additional-info">29 upvotes - 9 comments</span></div>
                  </div>
            </li>

            <li class="community-item recent-item">
                <div class="container">
                    <div class="item">
                        <a href="" class="recent-post-link">
                            <img src="{% static 'img/c6.jpg' %}" alt="Logo" class="community-image-small">
                            <span class="is-size-7">c/metalcore</span>
                        </a>
                    </div>
                    <div class="item"><p>
                        <a href="" class="recent-post-link">
                            <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></a></p></div>
                    <div class="item"><span class="is-size-7 additional-info">29 upvotes - 9 comments</span></div>
                  </div>
            </li>
            
        </ul>

        <hr>

        <p class="menu-label">Topics</p>

        <ul class="menu-list menu-list-custom">
            <li>
                <a href="#" class="is-active">
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="is-active">
                    Popular
                </a>
            </li>
            <li>
                <a href="#" class="is-active">
                    Explore
                </a>
            </li>
            
        </ul>

    </aside>
</div>